.side-by-side code {
  font-size: 70%;
}

.side-by-side .left,
.side-by-side .right {
  float: left;
  width: 45%;
}

.side-by-side {
  clear: both;
}

.clearfix {
  clear: both;
}

.reveal pre code {
  line-height: 1.5em;
}

.inline-all * {
  display: inline-block;
}

strong {
  color: #3E6697;
}

.side-by-side .left.tech {
  with: 30%;
}

.reveal section .tech img {
  text-align: middle;
}

.reveal section img {
  border: 0;
}
