body {
  background-color: #F1F2EC;
}

.reveal {
  font-family: 'Signika';
  font-size: 36px;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #F25B4A;
  font-family: 'Signika';
  font-weight: 600;
}

.reveal h1 {
  text-shadow: none;
}

.reveal p {
  color: #777;
}

.reveal a:not(.image) {
  color: #69A8C2;
  color: #3E6478;
}

.reveal blockquote {
  padding: 15px;
  background-color: transparent;
  color: #333;
  box-shadow: none;
  width: 80%;
}

.reveal pre {
  color: #333;
  box-shadow: none;
}

.reveal ul li {
  color: #777;
  margin: 7px 0;
}

.reveal pre code {
  padding: 5px 15px;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #E86187;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #E86187;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #E86187;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #E86187;
}

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #943D5A;
}

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #943D5A;
}

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #943D5A;
}

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #943D5A;
}

.reveal .progress span {
  background: #E86187;
}
