<!DOCTYPE html>
<html lang='en-us'>
<head>
<meta charset='utf-8'>
<title>Introduction to Elixir - Presentation by Alan Peabody</title>
<link href='http://fonts.googleapis.com/css?family=Signika:400,300,600,700' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='../css/reveal.min.css'>
<link rel='stylesheet' href='../css/night.css' id='theme'>
<link rel='stylesheet' href='../css/zenburn.css'>
<link rel='stylesheet' href='../css/customizations.css'>
<link rel='stylesheet' href='../css/holman.css'>
</head>
<body>
<div class='reveal'>
  <div class='slides'>
    <section>
      <p>wprowadzenie</p>
      <h1>Elixir</h1>
    </section>

    <section>
      <h2>Elixir</h2>
      <ul>
        <li class="fragment">Język programowania wykorzystujący maszynę wirtualną erlanga</li>
        <li class="fragment">Te same typy danych (krotki, atomy, etc.)</li>
        <li class="fragment">Lekkie procesy, dopasowywanie wzorców, list comprehensions, funkcje wyzszego rzedu etc.</li>
      </ul>
    </section>

    <section>
      <h2>Cele projektu</h2>
    </section>

    <section>
      <h3>Wygoda pisania kodu</h3>
    </section>

    <section>
      <section>
        <h3>Składnia</h3>
        <p>wzorowana na innych popularnych językach <br/>(takich jak <strong>Ruby</strong> czy <strong>Python</strong>)</p>
      </section>

      <section>
        <h3>Składnia</h3>
        <pre><code class="ruby">
  defmodule Math do
    def sum(a, b) do
      a + b
    end
  end

  IO.puts Math.sum(1, 2)
        </code></pre>
      </section>
    </section>

    <section>
      <section>
        <h3>Makra</h3>
      </section>

      <section>
        <p>Każde wywołanie funkcji jest reprezentowane jako krotka</p>
        <pre style="text-align: center;"><code class="ruby">
   sum(1, 2, 3)
        </code></pre>
        <pre style="text-align: center;"><code>
{ :sum, 1, [1, 2, 3] }

(fn, line, args)
        </code></pre>
      </section>
      <section>
        <p>Dzięki temu jesteśmy w stanie "modyfikować" program</p>
        <pre><code>
<span style="opacity: 0.4">defmodule MyTest do
  use ExUnit.Case
</span>
  test "the truth" do
    assert 1 + 1 == 3
  end
<span style="opacity: 0.4">
end</span>
        </code></pre>
        <pre><code>
Expected 2 to be equal to (==) 3
        </code></pre>
      </section>
      <section>
        <pre><code>
defmacro assert({ :==, line, [l, r]}) do
  # … 
end

defmacro assert({ :=~, line, [l, r]}) do
  # … 
end
        </code></pre>
      </section>

    </section>

    <section>
      <section>
        <h3>Roszerzalność języka</h3>
      </section>
      <section>
        <p>Erlang</p>
        <pre><code style="erlang">
-module(json).

to_json(Item) when is_atom(Item) ->
  % …

to_json(Item) when is_number(Item) ->
  % …

to_json(Item) when is_binary(Item) ->
  % …
        </code></pre>
      </section>

      <section>
        <pre><code style="ruby">
defprotocol JSON do
  def to_json(item)
end

JSON.to_json(item)
        </code></pre>
        <pre class="fragment"><code>
defimpl JSON, for: List do
  # ...
end

defimpl JSON, for: Number do
  # ...
end
        </code></pre>
        <pre class="fragment"><code>
defimpl JSON, for: NewType do
  # ...
end        
        </code></pre>
      </section>
    </section>

    <section>
      <section>
        <h3>Kompatybilność</h3>
        <p class="fragment">Kod Erlanga może bez żadnej konwersji (ani spadków wydajnoności) wykorzystywać w Eliksirze (i vice-versa)</p>
        <pre class="fragment"><code>
:erlang.localtime
# == erlang:localtime()
# => {{2013, 10, 22}, {0, 14, 29}}

:random.uniform
# == random:uniform()
# => 0.7230402056221108
        </code></pre>
      </section>
    </section>

    <section>
      <h3>Inne</h3>
      <ul>
        <li>Dokumentacja jako część języka</li>
        <li>Argumenty nazwane</li>
      </ul>
    </section>

    <section>
      <h1>Pytania?</h1>
    </section>

  </div>
</div>

<div class='progress'><span></span></div>

<script src='../js/highlight.js'></script>
<script src='../js/head.min.js'></script>
<script src='../js/reveal.min.js'></script>
<script src='../js/notes.js'></script>
<script>
Reveal.initialize({

width: '90%',
height: '100%',

// Display controls in the bottom right corner
controls: true,
// Display a presentation progress bar
progress: true,
// Push each slide change to the browser history
history: true,
// Enable keyboard shortcuts for navigation
keyboard: true,
// Enable the slide overview mode
overview: true,
// Vertical centering of slides
center: true,
// Apply a 3D roll to links on hover
rollingLinks: false,
// Transition style
transition: 'linear', // default/cube/page/concave/zoom/linear/fade/none
theme: 'night',

dependencies: [
  // Syntax highlight for <code> elements
{ src: '../js/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
]
});
</script>
</body>
</html>
